
:root {

    /* COLORS */
    --blue: #0000ff;
    --dark-blue: #010188;
}

.button-container a {
    width: 200px;
    padding: 10px;
    color: #FFF;
    background-color: #F00;
    
    /* ROUNDING THE CORNERS */
    border-radius: 10px;
    
    /* CREATED WITH THE SHADOW GENERATOR */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);

    /* Let's get rid of the underline */
    text-decoration: none;
    
    /* Transition effect */
    transition: all 0.5s ease;
}
.button-container a:hover {
    background-color: #AF1F16;
    /* Let's get rid of the underline */
    text-decoration: none;
}

.blue-button a{
    background-color: var(--blue);
}
.blue-button a:hover{
    background-color: var(--dark-blue);
}

.gradient-button a{
    background: rgb(0,36,1);
    background: linear-gradient(90deg, rgba(0,36,1,1) 0%, rgba(18,255,0,1) 100%);
}
.gradient-button a:hover{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,124,0,1) 100%);
}

